@charset "UTF-8";

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*body*/

body{
    background-color: #F2F2F2;
}
.content-center{
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.content-center .center{
    margin: 10px;
}

.content-center .content{
    margin-left: 70px;
}

.content-center #name{
    border: none;
    outline: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
}

.content-center #name:focus{
    border-bottom-color: #D07035;
}

.content-center #number{
    border-radius: 5px;
    border-color: rgba(0,0,0,.5);
    outline: none;
    width: 80px;
    
}

.content-center #btn-submit{
    margin: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    background-color: green;
    color: #000000;
    cursor: pointer;
    outline: none;
}

.content-center #btn-submit:hover{
    background-color: rgba(0,0,0,.5);
}

/*formChildren*/

.todo{
    margin: 20px;
    padding-left: 10px;
}

.todo fieldset{
    padding: 20px 80px 20px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.todo button{
    position: absolute;
    margin-top: 5px;
}

.todo #del{
    padding: 1px 14px 1px 14px;
    margin-left: 93px;
}

.todo #add{
    margin-left: 4px;
    position: absolute;
    margin-top: 5px;
}

.todo input{
    margin: 5px;
    outline: none;
}

.todo .idade{
    margin-left: 8px;
    border-radius: 5px;
    border-color:rgba(0,0,0,.5);
    cursor: pointer;
}

.todo .name{
    border:none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
}

.todo .name:focus{
    border-bottom-color: #D07035;
}

/*Tabela*/

.table-center{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding:20px;
    background-color: #fff;
    border-radius: 15px;
}

.table-center table{
    width:100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}

.table-center .row{
    border: solid 1px black;
}

.table-center td{
    padding: 5px;
}

.idade{
    width:80px;
    border: solid 1px black;
}

.table-center thead{
    background-color: green;
}
